<div class="container-fluid">
  <div id="carouselExample" class="carousel slide" style="max-height: 700px; overflow: hidden;">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="<%= image_path('bowling.jpg') %>" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('img1.jpg') %>" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item">
        <img src="<%= image_path('img2.jpg') %>" class="d-block w-100 img-fluid" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>







<div class="container mt-3 carrejaune_accueil">
<div class="" role="alert">
  <h4 class="alert-heading">Bienvenue sur Eventbrite_zen !</h4>
  <p>Ce site propose une expérience unique pour la gestion et la participation à des événements passionnants.</p>
  <hr>
  <p class="mb-0">Explorez, créez et participez à des événements exceptionnels dès maintenant !</p>
</div>
</div>



<div class="row card-event-parents">
<% @events.each do |event| %>
  <div class="col-md-4 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
        <p class="card-text"><strong>Date :</strong> <%= event.start_date.strftime("%d/%m/%Y") %></p>
        <p class="card-text"><strong>Prix :</strong> <%= event.price %> €</p>
        <a href="<%= event_path(event) %>" class="btn btn-primary">Détails</a>
      </div>
    </div>
  </div>
<% end %>
</div>