<h1><%= @event.title %></h1>
<p><%= @event.description %></p>
<p><strong>Date :</strong> <%= @event.start_date.strftime('%d/%m/%Y') %></p>
<p><strong>Prix :</strong> <%= @event.price %> €</p>
<p><%= button_to "Payment", checkout_create_path(total: "55"), class: "btn btn-primary", data: {turbo: false} %></p>